<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestSuite" thread-count="3">
    <parameter name="author" value="Guru99"/>
    <parameter name="searchKey" value="India"/>
  <test name="testGuru">
      <parameter name="searchKey" value="uk"/>
      
      <classes>
          <class name="com.parameter.example.ParameterWithTestNGXML"></class>
      </classes>
  </test>  
</suite>
    
    
    
    
    
    
    
    
    